@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h2 class="mb-4">Welcome</h2>

    <p>
        <a class="btn btn-primary btn-lg" href="~/files/Resume_Yan_Preskurel.pdf" target="_blank">
            My Resume
        </a>
    </p>
</div>
